html,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

#app {
  background: url("/assets/img/dot-grid.png");
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.navbar {
  margin-bottom: 50px;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}
